.calendar {
  background-color: transparent;
  border: none;
  width: 100%;
}

.calendar :global(.react-calendar__navigation button) {
  color: white;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.calendar :global(.react-calendar__navigation button:enabled:hover),
.calendar :global(.react-calendar__navigation button:enabled:focus) {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.calendar :global(.react-calendar__navigation button[disabled]) {
  background-color: transparent;
  opacity: 0.5;
}

.calendar :global(.react-calendar__month-view__weekdays) {
  color: #94a3b8;
  font-weight: bold;
  text-transform: uppercase;
}

.calendar :global(.react-calendar__month-view__days__day) {
  color: white;
  padding: 8px;
}

.calendar :global(.react-calendar__month-view__days__day--weekend) {
  color: #ef4444;
}

.calendar :global(.react-calendar__month-view__days__day--neighboringMonth) {
  color: #475569;
}

.calendar :global(.react-calendar__tile) {
  padding: 10px 6px;
  background: none;
  line-height: 16px;
  text-align: center;
  border-radius: 8px;
}

.calendar :global(.react-calendar__tile:enabled:hover),
.calendar :global(.react-calendar__tile:enabled:focus),
.calendar :global(.react-calendar__tile--active) {
  background: #2563eb;
  color: white;
}

.calendar :global(.react-calendar__tile--now) {
  background: rgba(37, 99, 235, 0.2);
}

.calendar :global(abbr[title]) {
  text-decoration: none;
}
